.sign-up-page-container {
  min-height: 100vh;
}
.sign-up-page-sign-up-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow: scroll;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(96, 230, 133, 1);
}
.sign-up-page-container1 {
  top: 0px;
  left: 0px;
  width: auto;
  height: 100vh;
  display: flex;
  position: absolute;
  max-width: auto;
  align-items: flex-start;
}
.sign-up-page-container2 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  max-width: auto;
  align-items: flex-start;
  justify-content: center;
}
.sign-up-page-rectangle1 {
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100px;
  display: flex;
  position: absolute;
  background-size: cover;
  background-image: url("public/playground_assets/rectangle11192-msm.svg");
  background-position: center;
}
.sign-up-page-image1 {
  top: 13px;
  left: 0px;
  right: 0px;
  width: auto;
  height: auto;
  margin: auto;
  position: absolute;
  border-color: transparent;
}
.sign-up-page-container3 {
  top: 133px;
  left: 0px;
  right: 0px;
  width: 1139.3646240234375px;
  height: 800px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
  justify-content: center;
}
.sign-up-page-farm-widget {
  top: 0px;
  left: 0px;
  width: 1100px;
  height: 800px;
  position: absolute;
  border-color: transparent;
  border-radius: 15px;
}
.sign-up-page-frame15 {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}

#table {
  width: 65vw;
  bottom: -50px;

}
.sign-up-page-frame6 {
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 0px;
}
.sign-up-page-frame1 {
  display: flex;
  padding: 10px 40px;
  position: relative;
  flex-grow: 1;
  align-items: center;
  border-color: transparent;
  margin-right: 0px;
  justify-content: center;
  background-color: rgba(96, 230, 133, 1);
}
.sign-up-page-text {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 30px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.sign-up-page-frame2 {
  display: flex;
  padding: 10px 40px;
  position: relative;
  flex-grow: 1;
  align-items: center;
  border-color: transparent;
  margin-right: 0px;
  justify-content: center;
  background-color: rgba(96, 230, 133, 1);
}
.sign-up-page-text02 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 30px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.sign-up-page-frame3 {
  display: flex;
  padding: 10px 40px;
  position: relative;
  flex-grow: 1;
  align-items: center;
  border-color: transparent;
  margin-right: 0px;
  justify-content: center;
  background-color: rgba(96, 230, 133, 1);
}
.sign-up-page-text04 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 30px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.sign-up-page-frame4 {
  display: flex;
  padding: 10px 50px;
  position: relative;
  flex-grow: 1;
  align-items: center;
  border-color: transparent;
  margin-right: 0px;
  justify-content: center;
  background-color: rgba(96, 230, 133, 1);
}
.sign-up-page-text06 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 30px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.sign-up-page-frame5 {
  display: flex;
  padding: 10px 40px;
  position: relative;
  flex-grow: 1;
  align-items: center;
  border-color: transparent;
  justify-content: center;
  background-color: rgba(96, 230, 133, 1);
}
.sign-up-page-text08 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 30px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.sign-up-page-frame7 {
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 0px;
  background-color: rgba(255, 255, 255, 1);
}
.sign-up-page-frame11 {
  display: flex;
  padding: 10px 40px;
  position: relative;
  flex-grow: 1;
  align-items: center;
  border-color: transparent;
  margin-right: 0px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.sign-up-page-text10 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 30px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.sign-up-page-frame21 {
  display: flex;
  padding: 10px 40px;
  position: relative;
  flex-grow: 1;
  align-items: center;
  border-color: transparent;
  margin-right: 0px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.sign-up-page-text11 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 30px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.sign-up-page-frame31 {
  display: flex;
  padding: 10px 40px;
  position: relative;
  flex-grow: 1;
  align-items: center;
  border-color: transparent;
  margin-right: 0px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.sign-up-page-text13 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 30px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.sign-up-page-frame41 {
  display: flex;
  padding: 10px 50px;
  position: relative;
  flex-grow: 1;
  align-items: center;
  border-color: transparent;
  margin-right: 0px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.sign-up-page-text15 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 30px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.sign-up-page-frame51 {
  display: flex;
  padding: 10px 40px;
  position: relative;
  flex-grow: 1;
  align-items: center;
  border-color: transparent;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.sign-up-page-text17 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 30px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.sign-up-page-frame8 {
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 0px;
}
.sign-up-page-frame12 {
  display: flex;
  padding: 10px 40px;
  position: relative;
  flex-grow: 1;
  align-items: center;
  border-color: transparent;
  margin-right: 0px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.sign-up-page-text19 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 30px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.sign-up-page-frame22 {
  display: flex;
  padding: 10px 40px;
  position: relative;
  flex-grow: 1;
  align-items: center;
  border-color: transparent;
  margin-right: 0px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.sign-up-page-text20 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 30px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.sign-up-page-frame32 {
  display: flex;
  padding: 10px 40px;
  position: relative;
  flex-grow: 1;
  align-items: center;
  border-color: transparent;
  margin-right: 0px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.sign-up-page-text22 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 30px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.sign-up-page-frame42 {
  display: flex;
  padding: 10px 50px;
  position: relative;
  flex-grow: 1;
  align-items: center;
  border-color: transparent;
  margin-right: 0px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.sign-up-page-text24 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 30px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.sign-up-page-frame52 {
  display: flex;
  padding: 10px 40px;
  position: relative;
  flex-grow: 1;
  align-items: center;
  border-color: transparent;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.sign-up-page-text26 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 30px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.sign-up-page-frame9 {
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 0px;
}
.sign-up-page-frame13 {
  display: flex;
  padding: 10px 40px;
  position: relative;
  flex-grow: 1;
  align-items: center;
  border-color: transparent;
  margin-right: 0px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.sign-up-page-text28 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 30px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.sign-up-page-frame23 {
  display: flex;
  padding: 10px 40px;
  position: relative;
  flex-grow: 1;
  align-items: center;
  border-color: transparent;
  margin-right: 0px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.sign-up-page-text29 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 30px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.sign-up-page-frame33 {
  display: flex;
  padding: 10px 40px;
  position: relative;
  flex-grow: 1;
  align-items: center;
  border-color: transparent;
  margin-right: 0px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.sign-up-page-text31 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 30px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.sign-up-page-frame43 {
  display: flex;
  padding: 10px 50px;
  position: relative;
  flex-grow: 1;
  align-items: center;
  border-color: transparent;
  margin-right: 0px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.sign-up-page-text33 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 30px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.sign-up-page-frame53 {
  display: flex;
  padding: 10px 40px;
  position: relative;
  flex-grow: 1;
  align-items: center;
  border-color: transparent;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.sign-up-page-text35 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 30px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.sign-up-page-frame10 {
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 0px;
}
.sign-up-page-frame14 {
  display: flex;
  padding: 10px 40px;
  position: relative;
  flex-grow: 1;
  align-items: center;
  border-color: transparent;
  margin-right: 0px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.sign-up-page-text37 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 30px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.sign-up-page-frame24 {
  display: flex;
  padding: 10px 40px;
  position: relative;
  flex-grow: 1;
  align-items: center;
  border-color: transparent;
  margin-right: 0px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.sign-up-page-text38 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 30px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.sign-up-page-frame34 {
  display: flex;
  padding: 10px 40px;
  position: relative;
  flex-grow: 1;
  align-items: center;
  border-color: transparent;
  margin-right: 0px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.sign-up-page-text40 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 30px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.sign-up-page-frame44 {
  display: flex;
  padding: 10px 50px;
  position: relative;
  flex-grow: 1;
  align-items: center;
  border-color: transparent;
  margin-right: 0px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.sign-up-page-text42 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 30px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.sign-up-page-frame54 {
  display: flex;
  padding: 10px 40px;
  position: relative;
  flex-grow: 1;
  align-items: center;
  border-color: transparent;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.sign-up-page-text44 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 30px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.sign-up-page-frame11 {
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 0px;
}
.sign-up-page-text46 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 30px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.sign-up-page-frame25 {
  display: flex;
  padding: 10px 40px;
  position: relative;
  flex-grow: 1;
  align-items: center;
  border-color: transparent;
  margin-right: 0px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.sign-up-page-text47 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 30px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.sign-up-page-frame35 {
  display: flex;
  padding: 10px 40px;
  position: relative;
  flex-grow: 1;
  align-items: center;
  border-color: transparent;
  margin-right: 0px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.sign-up-page-text49 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 30px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.sign-up-page-frame45 {
  display: flex;
  padding: 10px 50px;
  position: relative;
  flex-grow: 1;
  align-items: center;
  border-color: transparent;
  margin-right: 0px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.sign-up-page-text51 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 30px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.sign-up-page-frame55 {
  display: flex;
  padding: 10px 40px;
  position: relative;
  flex-grow: 1;
  align-items: center;
  border-color: transparent;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.sign-up-page-text53 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 30px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.sign-up-page-frame12 {
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 0px;
}
.sign-up-page-frame16 {
  display: flex;
  padding: 10px 40px;
  position: relative;
  flex-grow: 1;
  align-items: center;
  border-color: transparent;
  margin-right: 0px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.sign-up-page-text55 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 30px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.sign-up-page-frame26 {
  display: flex;
  padding: 10px 40px;
  position: relative;
  flex-grow: 1;
  align-items: center;
  border-color: transparent;
  margin-right: 0px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.sign-up-page-text56 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 30px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.sign-up-page-frame36 {
  display: flex;
  padding: 10px 40px;
  position: relative;
  flex-grow: 1;
  align-items: center;
  border-color: transparent;
  margin-right: 0px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.sign-up-page-text58 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 30px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.sign-up-page-frame46 {
  display: flex;
  padding: 10px 50px;
  position: relative;
  flex-grow: 1;
  align-items: center;
  border-color: transparent;
  margin-right: 0px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.sign-up-page-text60 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 30px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.sign-up-page-frame56 {
  display: flex;
  padding: 10px 40px;
  position: relative;
  flex-grow: 1;
  align-items: center;
  border-color: transparent;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.sign-up-page-text62 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 30px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.sign-up-page-frame13 {
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 0px;
}
.sign-up-page-frame17 {
  display: flex;
  padding: 10px 40px;
  position: relative;
  flex-grow: 1;
  align-items: center;
  border-color: transparent;
  margin-right: 0px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.sign-up-page-text64 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 30px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.sign-up-page-frame27 {
  display: flex;
  padding: 10px 40px;
  position: relative;
  flex-grow: 1;
  align-items: center;
  border-color: transparent;
  margin-right: 0px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.sign-up-page-text65 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 30px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.sign-up-page-frame37 {
  display: flex;
  padding: 10px 40px;
  position: relative;
  flex-grow: 1;
  align-items: center;
  border-color: transparent;
  margin-right: 0px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.sign-up-page-text67 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 30px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.sign-up-page-frame47 {
  display: flex;
  padding: 10px 50px;
  position: relative;
  flex-grow: 1;
  align-items: center;
  border-color: transparent;
  margin-right: 0px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.sign-up-page-text69 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 30px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.sign-up-page-frame57 {
  display: flex;
  padding: 10px 40px;
  position: relative;
  flex-grow: 1;
  align-items: center;
  border-color: transparent;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.sign-up-page-text71 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 30px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.sign-up-page-frame14 {
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.sign-up-page-frame18 {
  display: flex;
  padding: 10px 40px;
  position: relative;
  flex-grow: 1;
  align-items: center;
  border-color: transparent;
  margin-right: 0px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.sign-up-page-text73 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 30px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.sign-up-page-frame28 {
  display: flex;
  padding: 10px 40px;
  position: relative;
  flex-grow: 1;
  align-items: center;
  border-color: transparent;
  margin-right: 0px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.sign-up-page-text74 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 30px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.sign-up-page-frame38 {
  display: flex;
  padding: 10px 40px;
  position: relative;
  flex-grow: 1;
  align-items: center;
  border-color: transparent;
  margin-right: 0px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.sign-up-page-text76 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 30px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.sign-up-page-frame48 {
  display: flex;
  padding: 10px 50px;
  position: relative;
  flex-grow: 1;
  align-items: center;
  border-color: transparent;
  margin-right: 0px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.sign-up-page-text78 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 30px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.sign-up-page-frame58 {
  display: flex;
  padding: 10px 40px;
  position: relative;
  flex-grow: 1;
  align-items: center;
  border-color: transparent;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.sign-up-page-text80 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 30px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.sign-up-page-container4 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.sign-up-page-thq-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.sign-up-page-dropdown-toggle {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius2);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.sign-up-page-text82 {
  font-size: 14px;
  font-style: normal;
  text-align: center;
  font-weight: 500;
  margin-right: 4px;
  vertical-align: middle;
}
.sign-up-page-dropdown-arrow {
  transition: 0.3s;
}
.sign-up-page-icon {
  width: 18px;
  height: 18px;
  margin-top: auto;
  transition: 0.3s;
  margin-bottom: auto;
}
.sign-up-page-dropdown-list {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-gray-white);
  list-style-position: inside;
}
.sign-up-page-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.sign-up-page-dropdown-toggle01 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.sign-up-page-dropdown-toggle01:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.sign-up-page-text83 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.sign-up-page-dropdown01 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.sign-up-page-dropdown-toggle02 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.sign-up-page-dropdown-toggle02:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.sign-up-page-text84 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.sign-up-page-dropdown02 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.sign-up-page-dropdown-toggle03 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.sign-up-page-dropdown-toggle03:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.sign-up-page-text85 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.sign-up-page-dropdown03 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.sign-up-page-dropdown-toggle04 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.sign-up-page-dropdown-toggle04:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.sign-up-page-text86 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.sign-up-page-dropdown04 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.sign-up-page-dropdown-toggle05 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.sign-up-page-dropdown-toggle05:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.sign-up-page-text87 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.sign-up-page-dropdown05 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.sign-up-page-dropdown-toggle06 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.sign-up-page-dropdown-toggle06:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.sign-up-page-text88 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.sign-up-page-dropdown06 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.sign-up-page-dropdown-toggle07 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.sign-up-page-dropdown-toggle07:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.sign-up-page-text89 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.sign-up-page-dropdown07 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.sign-up-page-dropdown-toggle08 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.sign-up-page-dropdown-toggle08:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.sign-up-page-text90 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.sign-up-page-thq-dropdown1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.sign-up-page-dropdown-toggle09 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius2);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.sign-up-page-text91 {
  font-size: 14px;
  font-style: normal;
  text-align: center;
  font-weight: 500;
  margin-right: 4px;
  vertical-align: middle;
}
.sign-up-page-dropdown-arrow1 {
  transition: 0.3s;
}
.sign-up-page-icon2 {
  width: 18px;
  height: 18px;
  margin-top: auto;
  transition: 0.3s;
  margin-bottom: auto;
}
.sign-up-page-dropdown-list1 {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-gray-white);
  list-style-position: inside;
}
.sign-up-page-dropdown08 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.sign-up-page-dropdown-toggle10 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.sign-up-page-dropdown-toggle10:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.sign-up-page-text92 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.sign-up-page-dropdown09 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.sign-up-page-dropdown-toggle11 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.sign-up-page-dropdown-toggle11:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.sign-up-page-text93 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.sign-up-page-dropdown10 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.sign-up-page-dropdown-toggle12 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.sign-up-page-dropdown-toggle12:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.sign-up-page-text94 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.sign-up-page-dropdown11 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.sign-up-page-dropdown-toggle13 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.sign-up-page-dropdown-toggle13:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.sign-up-page-text95 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
@media(max-width: 1200px) {
  .sign-up-page-frame6 {
    width: 100%;
  }
  .sign-up-page-frame7 {
    width: 100%;
  }
  .sign-up-page-frame8 {
    width: 100%;
  }
  .sign-up-page-frame9 {
    width: 100%;
  }
  .sign-up-page-frame10 {
    width: 100%;
  }
  .sign-up-page-frame11 {
    width: 100%;
  }
  .sign-up-page-frame12 {
    width: 100%;
  }
  .sign-up-page-frame13 {
    width: 100%;
  }
  .sign-up-page-frame14 {
    width: 100%;
  }
  .sign-up-page-container4 {
    position: relative;
  }
  .sign-up-page-thq-dropdown {
    top: 0px;
    left: -250px;
    position: absolute;
  }
  .sign-up-page-text82 {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
  }
  .sign-up-page-dropdown-list {
    right: 0px;
    margin: auto;
    display: none;
  }
  .sign-up-page-dropdown-toggle01 {
    box-shadow: 5px 5px 10px 0px #d4d4d4;
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    border-radius: var(--dl-radius-radius-radius4);
  }
  .sign-up-page-text83 {
    color: var(--dl-color-gray-black);
    font-size: 14px;
    justify-content: center;
  }
  .sign-up-page-text84 {
    font-size: 14px;
    justify-content: center;
  }
  .sign-up-page-text85 {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    justify-content: center;
  }
  .sign-up-page-text86 {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    justify-content: center;
  }
  .sign-up-page-text87 {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    justify-content: center;
  }
  .sign-up-page-text88 {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    justify-content: center;
  }
  .sign-up-page-text89 {
    font-size: 14px;
    justify-content: center;
  }
  .sign-up-page-text90 {
    font-size: 14px;
    justify-content: center;
  }
  .sign-up-page-thq-dropdown1 {
    top: 0px;
    right: -250px;
    position: absolute;
  }
  .sign-up-page-text91 {
    font-size: 14px;
  }
  .sign-up-page-dropdown-list1 {
    display: none;
  }
  .sign-up-page-text92 {
    font-size: 14px;
    justify-content: center;
  }
  .sign-up-page-text93 {
    font-size: 14px;
    justify-content: center;
  }
  .sign-up-page-text94 {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    justify-content: center;
  }
  .sign-up-page-text95 {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    justify-content: center;
  }
}
@media(max-width: 991px) {
  .sign-up-page-image1 {
    display: none;
  }
}
