.sign-up-page-container {
  min-height: 100vh;
}
.sign-up-page-sign-up-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow: scroll;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(96, 230, 133, 1);
}
.sign-up-page-container1 {
  top: 0px;
  left: 0px;
  width: auto;
  height: 100vh;
  display: flex;
  position: absolute;
  max-width: auto;
  align-items: flex-start;
}
.sign-up-page-container2 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  max-width: auto;
  align-items: flex-start;
  justify-content: center;
}
.sign-up-page-rectangle1 {
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100px;
  display: flex;
  position: absolute;
  background-size: cover;
  background-image: url("public/playground_assets/rectangle11192-msm.svg");
  background-position: center;
}
.sign-up-page-image1 {
  top: 13px;
  left: 0px;
  right: 0px;
  width: auto;
  height: auto;
  margin: auto;
  position: absolute;
  border-color: transparent;
}
.sign-up-page-container3 {
  top: 133px;
  left: 0px;
  right: 0px;
  width: 1139.3646240234375px;
  height: 800px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
  justify-content: center;
}
.sign-up-page-farm-widget {
  top: 0px;
  left: 0px;
  width: 1100px;
  height: 800px;
  position: absolute;
  border-color: transparent;
  border-radius: 15px;
}


.sign-up-page-container4 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
  
}

.table {
  display: inline-block;
  position: absolute;
  top: 100px;
  font-size: 30px;
  
  
}

.downloadButton {
  display: inline-block;
  position: absolute;
  bottom: 50px;
  font-size: 25px; 
  
  
}

.downloadAll:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
  
}

.download:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
  
}

.rownames {
  color: rgba(0, 0, 0, 1);
  font-size: 30px;
  border-top-style: 1px black;
}

.dropdown:hover .menu {
  display: block;
  
}
table, tr, td, th {
  border: 2px inset black;
  border-collapse: collapse;
  border-spacing: 0;
  
}

tr {
  text-align: center;
}
.select {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius2);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}

.select-plant {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius2);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}

.selected {
  font-size: 14px;
  font-style: normal;
  text-align: center;
  font-weight: 500;
  margin-right: 4px;
  vertical-align: middle;
}
.arrow {
  transition: 0.3s;
}

.sign-up-page-icon {
  width: 18px;
  height: 18px;
  margin-top: auto;
  transition: 0.3s;
  margin-bottom: auto;
}
.menu {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-gray-white);
  list-style-position: inside;
}

.select:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.menu-dropdown {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}


.download-row {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: none;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}

.menu-dropdown:hover, .download-row:hover{
  fill: #fff;
  color: #fff;
  background-color: #595959;
}


li {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
@media(max-width: 1200px) {
  
}
@media(max-width: 991px) {
  
}
