<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/farm_page/farm.css">
    <title>Farm Page</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
    </script>

    <!--Font Awesome Icon-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />

    <!--Navigation Bar-->
    <nav>
        <div class="nav-logo">
            <a href="./farm.html"><img src="/farm_page/rescopy/backus_agrilabs_logo.png" alt="logo"></a>
        </div>
        <div class="nav-links">
            <a href="/">Home</a>
            <a href="/auth/logout">Logout</a>
        </div>
    </nav>

</head>
<body>

    <!--This is the popup of pod items after the click of a grid item-->
    <div id="popup-1" class="popup">
        <div class="pod-section">
            <div class="pod-item" value="1">1</div>
            <div class="pod-item" value="2">2</div>
            <div class="pod-item" value="3">3</div>
            <div class="pod-item" value="4">4</div>
            <div class="pod-item" value="5">5</div>
            <div class="pod-item" value="6">6</div>
            <div class="pod-item" value="7">7</div>
            <div class="pod-item" value="8">8</div>
        </div>
        <button id="backButton" class="back-to-grid-button">Back</button>
    </div>

    <!-- This is a grid section for selecting the grid section-->
    <div id="gridSection" class="grid-section">
        <div class="grid-header-section">
            <!--Farm selection button-->
            <button id="farm-button"><i class="fas fa-bars menu-icon"></i></button>
            <div class="row">
                <!--Farm selection popup (Is purposefully not fully implemented)-->
                <div id="farm-selection-div">
                    <ul>
                        <li><a id="Farm 1" value="1">Farm 1</a></li>
                        <li><a id="Farm 2" value="2">Farm 2</a></li>
                        <li><a id="Farm 3" value="3">Farm 3</a></li>
                        <li><a id="Farm 4" value="4">Farm 4</a></li>
                        <li><a id="Farm 5" value="5">Farm 5</a></li>
                        <li><a id="Farm 6" value="6">Farm 6</a></li>
                    </ul>
                    <!--Button to add or delete farms (not fully implemented)-->
                    <div id="modify-farm-selection-div">
                        <button id="add-farm">Add</button>
                        <button id="delete-farm">Delete</button>
                    </div>
                </div>
            </div>
            <h2 class="farm-label">Farm 1</h2>
        </div>
        <!--grid of sections-->
        <div class="grid-display-section">
            <div class="grid-section-one">
                <div class="grid-item" id="grid-select" value="0">1A</div>
                <div class="grid-item" id="grid-select" value="1">2A</div>
                <div class="grid-item" id="grid-select" value="2">3A</div>
                <div class="grid-item" id="grid-select" value="3">4A</div>
                <div class="grid-item" id="grid-select" value="4">5A</div>
                <div class="grid-item" id="grid-select" value="5">6A</div>
                <div class="grid-item" id="grid-select" value="6">7A</div>
                <div class="grid-item" id="grid-select" value="7">8A</div>
            </div>

            <div class="grid-section-two">
                <div class="grid-item" id="grid-select" value="8">1B</div>
                <div class="grid-item" id="grid-select" value="9">2B</div>
                <div class="grid-item" id="grid-select" value="10">3B</div>
                <div class="grid-item" id="grid-select" value="11">4B</div>
                <div class="grid-item" id="grid-select" value="12">5B</div>
                <div class="grid-item" id="grid-select" value="13">6B</div>
                <div class="grid-item" id="grid-select" value="14">7B</div>
                <div class="grid-item" id="grid-select" value="15">8B</div>
            </div>

            <div class="grid-section-three">
                <div class="grid-item" id="grid-select" value="16">1C</div>
                <div class="grid-item" id="grid-select" value="17">2C</div>
                <div class="grid-item" id="grid-select" value="18">3C</div>
                <div class="grid-item" id="grid-select" value="19">4C</div>
                <div class="grid-item" id="grid-select" value="20">5C</div>
                <div class="grid-item" id="grid-select" value="21">6C</div>
                <div class="grid-item" id="grid-select" value="22">7C</div>
                <div class="grid-item" id="grid-select" value="23">8C</div>
            </div>

            <div class="grid-section-four">
                <div class="grid-item" id="grid-select" value="24">1D</div>
                <div class="grid-item" id="grid-select" value="25">2D</div>
                <div class="grid-item" id="grid-select" value="26">3D</div>
                <div class="grid-item" id="grid-select" value="27">4D</div>
                <div class="grid-item" id="grid-select" value="28">5D</div>
                <div class="grid-item" id="grid-select" value="29">6D</div>
                <div class="grid-item" id="grid-select" value="30">7D</div>
                <div class="grid-item" id="grid-select" value="31">8D</div>
            </div>
        </div>
    </div>
    


    <div id="info">
        <div id="information-section">
            <h2>Dashboard</h2>
            <p>Plant Section</p>
            <p id="display-value"></p> <!--displays grid ID (e.g. 1A, 4B, etc.)-->

            <div id="name-error-message"></div>

            <p id="pod-number"></p> <!--displays pod value (1,2,3,4 [top row], 5,6,7,8 [bottom row])-->

            <div id="plant-info">
                <p>Name of Plant</p>
                <input type="text" id="name-of-plant" placeholder="Enter Name Here" maxlength="20" readonly></input>
            </div>

            <div id="plant-info">
                <p>Date Planted</p>
                <input type="date" id="date-planted" placeholder="mm/dd/yyyy" readonly></input>
            </div>

            <div id="plant-info">
                <p>Date Transfered</p>
                <input type="date" id="date-transfered" placeholder="mm/dd/yyyy" readonly></input>
            </div>

            <div id="plant-info">
                <p>Date Harvested</p>
                <input type="date" id="date-harvested" placeholder="mm/dd/yyyy" readonly></input>
            </div>

            <div id="plant-info">
                <p>Height</p>
                <input type="number" id="plant-height" placeholder="__ cm" min="0" max="100" step=".01" readonly></input>
            </div>

            <button id="edit-button">Edit</button>
            <button id="save-button">Save Changes</button>

        </div>

    </div>
    

</body>

<!--Connect html page -->
<script src="/farm_page/farm.js"></script>
</html>







