<!DOCTYPE html>
<html lang="en">

<head>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8">
  <title>BackusAgrilabs website</title>
  <link rel="stylesheet" href="stylesheets/home/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"> </script>
</head>

<body>
  <!--  Top menu/navigatior bar on the page. This menu contains the logo, tab links, and a login icon. -->
  <section class="navigation">
    <div class="nav-container">
      <!-- insert image in this section 
          original logo - height: 126px, width: 361px -->
      <div id="logo">
        <img id="logo-pic" src="res/backus_agrilabs_logo.png" alt="backusagrilabs logo">
      </div>
      <div id="nav-list">
        <div id="bottom-link-list">
          <li id="home-link" style="display: inline-block;"><a href="/">HOME</a></li>
          <li id="farm-link" style="display: inline-block;"><a href="/produce">PRODUCE</a></li>
          <li id="water-link" style="display: inline-block;"><a href="/contact">CONTACT US</a></li>
        </div>
      </div>
      <div id="profile-log">
        <div id="bottom-log">
          <a href="/login">LOG IN</a>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="slideshow-container">
      <div class="mySlides fade">
        <img class="slide-img" src="res/spring_sprout.jpeg" style="width:100%">
      </div>
      
      <div class="mySlides fade">
        <img class="slide-img" src="res/kale_on_ground.jpeg" style="width:100%">
      </div>
      
      <div class="mySlides fade">
        <img class="slide-img" src="res/3_kale.jpeg" style="width:100%">
      </div>
      <div class="slogan">PLANT. <br>GROW. <br>GIVE.</div>
    </div>
    <br>
  </section>

  <section>
    <div class="mission">
      <div class="mission-statement">
        We <strong>give</strong> people, non-profits, and schools the ability to <strong>plant</strong> 
        and <strong>grow</strong> food for themselves or their community. We have growing setups to fit 
        all your needs from growing food in your kitchen to providing large scale indoor farming facilities.
      </div>
    </div>
  </section>

  <section class="footer">
    <p>© 2023 - Backus AgriLabs - All rights reserved</p>
  </section>

  <script src="javascripts/home/main.js"></script>


</body>

</html>