<!DOCTYPE html>
<html lang="en">

<head>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8">
  <title>BackusAgrilabs website</title>
  <link rel="stylesheet" href="stylesheets/produce/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"> </script>
</head>

<body>
  <!--  Top menu/navigatior bar on the page. This menu contains the logo, tab links, and a login icon. -->
  <section class="navigation">
    <div class="nav-container">
      <!-- insert image in this section 
          original logo - height: 126px, width: 361px -->
      <div id="logo">
        <img id="logo-pic" src="res/backus_agrilabs_logo.png" alt="backusagrilabs logo">
      </div>
      <div id="nav-list">
        <div id="bottom-link-list">
          <li id="home-link" style="display: inline-block;"><a href="/">HOME</a></li>
          <li id="farm-link" style="display: inline-block;"><a href="/produce">PRODUCE</a></li>
          <li id="water-link" style="display: inline-block;"><a href="/contact">CONTACT US</a></li>
        </div>
      </div>
      <div id="profile-log">
        <div id="bottom-log">
          <a href="/login">LOG IN</a>
        </div>
      </div>
    </div>
  </section>



  <section>
    <div class="produce">
      <div class="produce-title">
        <strong>Our Produce</strong>
      </div>
      <div class="produce-statement">
        We can grow any leafy green that comes to mind. Lettuce of any kind does really well in our systems. We have also expanded to mushrooms and potatoes, and that is just the beginning. 
      </div>
    </div>
  </section>

  <section>
    <div class="produce-gallery">
        <div class="gallery-row">
            <div class="column">
                <img src="res/produce/basil.jpeg" style="width:100%">
                <div class="image-titles">
                    <p>Basil</p>
                </div>
            </div>
            <div class="column">
                <img src="res/produce/oregano.jpeg" style="width:100%">
                <div class="image-titles">
                    <p>Oregano</p>
                </div>
            </div>
            <div class="column">
                <img src="res/produce/chives.jpeg" style="width:100%">
                <div class="image-titles">
                    <p>Chives</p>
                </div>
            </div>
        </div>
        <div class="gallery-row">
            <div class="column">
                <img src="res/produce/simpson.jpeg" style="width:100%">
                <div class="image-titles">
                    <p>Black Seeded Simpson</p>
                </div>
            </div>
            <div class="column">
                <img src="res/produce/spinach.jpeg" style="width:100%">
                <div class="image-titles">
                    <p>Spinach</p>
                </div>
            </div>
            <div class="column">
                <img src="res/produce/collards.jpeg" style="width:100%">
                <div class="image-titles">
                    <p>Collards</p>
                </div>
            </div>
        </div>
    </div>
  </section>

  <section class="footer">
    <p>© 2023 - Backus AgriLabs - All rights reserved</p>
  </section>

  <script src="javascripts/home/main.js"></script>


</body>

</html>