*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 80px;
    position: fixed;
    background-color: white;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(96, 230, 133);
    padding-top: 80px;
}

h1{
    font-size: 75px;
}

.login-section {
    width: 95vw;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    padding-bottom: 100px;
    border-radius: 15px;
    border: 1px solid rgb(126, 88, 216);
}
  
form{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    border: 1px solid green;
}

.login-section .forgot-password{
    border: 1px solid black;
    font-size: 16px;
    margin-top: 10px;
    text-align: end;
    cursor: pointer;
}

.login-section .forgot-password:hover{
    color:rgb(64, 168, 87);
}


input[type="text"], input[type="password"] {
    font-size: 16px;
    width: 50vw;
    height: 70px;
    margin-top: 20px;
    padding: 10px;
    border-radius: 15px;
}

#error-feedback-message{
    height: 20px;
    font-size: 12px;
    color: red;
}


#sign-in-button{
    margin-top: 2vh;
    padding: 10px 50px;
    border-radius: 15px;
    border: 0px solid green;
    background-color: rgb(64, 168, 87);
    color: white;
}
#sign-in-button:hover{
    background-color:rgb(101, 223, 45);
}

.signup-text{
    margin-top: 10px;
    font-size: 16px;
}

.signup-text span{
    color: rgb(64, 168, 87);
    cursor: pointer;
}



