@import url("https://use.typekit.net/nrl3hqr.css"); /*for the font*/

*{
    font-family: 'futura-pt', sans-serif;
}

.sign-up-page-container {
  min-height: 100vh;
}
.sign-up-page-sign-up-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow: scroll;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(96, 230, 133, 1);
}
.sign-up-page-container1 {
  top: 0px;
  left: 0px;
  width: auto;
  height: 100vh;
  display: flex;
  position: absolute;
  max-width: auto;
  align-items: flex-start;
}
.sign-up-page-container2 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  max-width: auto;
  align-items: flex-start;
  justify-content: center;
}
.sign-up-page-rectangle1 {
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100px;
  display: flex;
  position: absolute;
  background-size: cover;
  background-image: url("./playground_assets/rectangle11192-msm.svg");
  background-position: center;
}
.sign-up-page-vector {
  top: 30px;
  right: 21px;
  width: 39px;
  height: 42px;
  position: absolute;
}
.sign-up-page-text {
  top: 35px;
  color: rgba(0, 0, 0, 1);
  right: 73px;
  width: 77px;
  height: auto;
  position: absolute;
  font-size: 25px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Open Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.sign-up-page-image1 {
  top: 13px;
  left: 0px;
  right: 0px;
  width: auto;
  height: auto;
  margin: auto;
  position: absolute;
  border-color: transparent;
}
.sign-up-page-container3 {
  top: 133px;
  left: 0px;
  right: 0px;
  width: 1139.3646240234375px;
  height: 800px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.sign-up-page-farm-widget {
  top: 0px;
  left: 0px;
  width: 1100px;
  height: 800px;
  position: absolute;
  border-color: transparent;
  border-radius: 15px;
}
.sign-up-page-text02 {
  top: 190px;
  left: 230px;
  color: rgba(0, 0, 0, 1);
  width: 670px;
  height: 100px;
  margin: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Open Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
  background-color: var(--dl-color-gray-900);
}
.sign-up-page-text04 {
  top: 460px;
  left: 230px;
  color: rgba(0, 0, 0, 1);
  width: 670px;
  height: 100px;
  margin: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Open Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
  background-color: var(--dl-color-gray-900);
}
.sign-up-page-text06 {
  top: 50px;
  left: 230px;
  color: rgba(0, 0, 0, 1);
  width: 703px;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 75px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Open Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.sign-up-page-button {
  top: 580px;
  left: 450px;
  color: white;
  width: 200px;
  height: 6vh;
  position: absolute;
  background-color: green;
}

.sign-up-page-button:hover{
  background-color:rgb(101, 223, 45);
}
.sign-up-page-container4 {
  top: 325px;
  left: 230px;
  width: 671.625px;
  height: 100px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.sign-up-page-text08 {
  top: 0px;
  left: 0px;
  color: rgba(0, 0, 0, 1);
  width: 670px;
  height: 100px;
  margin: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Open Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
  background-color: var(--dl-color-gray-900);
}
.sign-up-page-mdiinformationoutline {
  top: 21px;
  right: -65px;
  width: 56px;
  height: 56px;
  position: absolute;
}
.sign-up-page-icoutlineremoveredeye {
  top: 21px;
  right: 17px;
  width: 56px;
  height: 56px;
  position: absolute;
}
@media(max-width: 991px) {
  .sign-up-page-image1 {
    display: none;
  }
}

textarea {
  resize: none;
}