.sign-up-page-container {
  min-height: 100vh;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
}
.sign-up-page-sign-up-page {
  width: 1440px;
  height: 1024px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(96, 230, 133, 1);
}
.sign-up-page-rectangle1 {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 94px;
  position: absolute;
}
.sign-up-page-text {
  top: 32px;
  left: 1269px;
  color: rgba(0, 0, 0, 1);
  width: 77px;
  height: auto;
  position: absolute;
  font-size: 25px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Open Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.sign-up-page-image1 {
  top: 8px;
  left: 576px;
  width: 289px;
  height: 77px;
  position: absolute;
  border-color: transparent;
}
.sign-up-page-farm1widget {
  top: 110px;
  left: 23px;
  width: 1396px;
  height: 898px;
  position: absolute;
  border-color: transparent;
  border-radius: 15px;
}
.sign-up-page-rectangle63 {
  top: 322px;
  left: 305px;
  width: 813px;
  height: 106px;
  position: absolute;
  border-color: transparent;
  border-radius: 15px;
}
.sign-up-page-text02 {
  top: 353px;
  left: 360px;
  color: rgba(0, 0, 0, 1);
  width: 142px;
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Open Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.sign-up-page-rectangle65 {
  top: 456px;
  left: 303px;
  width: 813px;
  height: 106px;
  position: absolute;
  border-color: transparent;
  border-radius: 15px;
}
.sign-up-page-text04 {
  top: 487px;
  left: 345px;
  color: rgba(0, 0, 0, 1);
  width: 258px;
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Open Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.sign-up-page-rectangle66 {
  top: 593px;
  left: 302px;
  width: 813px;
  height: 106px;
  position: absolute;
  border-color: transparent;
  border-radius: 15px;
}
.sign-up-page-text06 {
  top: 621px;
  left: 345px;
  color: rgba(0, 0, 0, 1);
  width: 258px;
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Open Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.sign-up-page-frameiconuser {
  top: 26px;
  left: 1346px;
  width: 39px;
  height: 42px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.sign-up-page-vector {
  top: 0px;
  left: 0px;
  width: 39px;
  height: 42px;
  position: absolute;
}
.sign-up-page-rectangle62 {
  top: 734px;
  left: 576px;
  width: 255px;
  height: 56px;
  position: absolute;
  border-color: transparent;
  border-radius: 20px;
}
.sign-up-page-text08 {
  top: 734px;
  left: 663px;
  color: rgba(255, 255, 255, 1);
  width: 92px;
  height: auto;
  position: absolute;
  font-size: 25px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Open Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.sign-up-page-text10 {
  top: 206px;
  left: 358px;
  color: rgba(0, 0, 0, 1);
  width: 703px;
  height: auto;
  position: absolute;
  font-size: 75px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Open Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.sign-up-page-icoutlineremoveredeye {
  top: 478px;
  left: 1005px;
  width: 56px;
  height: 56px;
  position: absolute;
}
.sign-up-page-mdiinformationoutline {
  top: 478px;
  left: 1135px;
  width: 56px;
  height: 56px;
  position: absolute;
}
