@import url("https://use.typekit.net/nrl3hqr.css");

:root {
    --title-span-color: rgb(24, 78, 129);

    --font-medium: 1em;
    --font-medium-large: 1.25em;
    --font-large: 1.5rem;
    --font-x-large: 2rem;
    --font-2x-large: 3rem;
    --font-3x-large: 3.5rem;

    /* Color codes */
    --backus-lightgreen: #9dd29e;
    --backus-green: #7bc57e;
    --backus-darkgreen: #42a957;
    --backus-gray: #383d40;


    --transition-fast: 0.2s;
}

* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}

/* 
  Navigation Bar Section
*/

.nav-container {
    text-align: center;
    position: relative;
    min-height: 10vh;
    max-height: 10vh;
}

.nav-container > div{
    height: 10vh;
}

#logo {
    float:left;
    width: auto;
    height:10vh;
}

#logo-pic {
    width: auto;
    height:100%;
    object-fit:cover;
}

#nav-list {
    margin:0 auto;
    display: inline-block;
    height:10vh;
    width: 50%;
}

#bottom-link-list {
  position: absolute;
  left: 50%;
  bottom: 3px;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  font-family: "futura-pt", sans-serif;
}

a:link {
    font-family: 'futura-pt', sans-serif;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
/* Keeps original color of links without changing after beign visited */
a, a:visited, a:hover, a:active {
  color: inherit;
}

/*
#home-link {
    /* background-color: rgb(25, 6, 240); *
}

#water-link {
    /* background-color: aqua; *
} */

#farm-link {
    /* background-color: rgb(19, 234, 58); */
    margin-left: 4vw;
    margin-right: 4vw;
}

#profile-log {
    float:right;
    right:0;
    height:10vh;
    width: 15vw;
}

#bottom-log {
  position: absolute;
  right: 5vw;
  bottom: 3px;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  font-family: "futura-pt", sans-serif;
}

#profile-link {
    width: auto;
    height:100%;
    object-fit:cover;
    /*border: none;*/
    max-height: 5vh;
    bottom: 0px;

    margin:0 auto;
    position: absolute;
    font-family: "futura-pt", sans-serif;
}










/*
  Support Header
*/
.support {
    background-color: var(--backus-darkgreen);
    margin: 0 auto;
    width: 100%;
    min-height: 60vh;
    height: auto;
}

.support-head {
    max-width: 50vw;
    text-align: left;
    margin-left: 4vw;
    color: #ffffff;
    position: relative;
    top: 10vh;
    font-size: 10vh;
    font-family: "futura-pt", sans-serif;
}

.contact-message{
    max-width: 60vw;
    text-align: left;
    margin-left: 4vw;
    color: #ffffff;
    position: relative;
    top: 10vh;
    font-size: var(--font-x-large);
    font-family: "futura-pt", sans-serif;
}



/*
  Support body
*/
.support-body {
    background-color: #ffffff;
    margin: 0 auto;
    width: 100%;
    min-height: 80vh;
    height: auto;
}

.contact-instruction{
    background-color: #ffffff;
    color: var(--backus-darkgreen);
    max-width: 50vw;
    height: 40vh;
    float: left;
    padding: 4vw;
    font-size: 4vh;
    font-family: "futura-pt", sans-serif;
    margin-top: 20vh;
}
.form-container {
    float: left;
    width: 50vw;
    height: 70vh;
    text-align: left;
    color: var(--backus-darkgreen);
    background-color: rgb(255, 255, 255);
    font-size: var(--font-x-large);
    font-family: "futura-pt", sans-serif;
    padding: 4vw;
    margin-top: 10vh;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

.feedback {
    width: 100%;
    height: 10vh;
    resize: none;
}




/*Footer*/
.footer {
    min-height: 10vh;
    background: #485563;
    background: -webkit-linear-gradient(to right, #29323c, #485563);
    background: linear-gradient(to right, #29323c, #485563);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    min-width: 100%;
    font-family: "futura-pt", sans-serif;
}